/*margin: top right bottom left (clockwise)*/

:root {
    font-family: Inter, serif;
    background-color: #32449b;
    --header-primary: #2196f3;
    --switcher-hover: #1e83d9;
    --window-primary: #7da9e3;
    --header-line-color: #bae1ff;
    --header-line-size: 3px;
    --window-line-size: 4px;
    --window-margins: 8px;
    --text-padding: 5px;
    overflow: auto;
}

.hide {
    display: none;
}

.body {
    padding: 0;
    display: flex;
    margin: 0;
    color: black;
}

/*Global stuff*/

.header-body {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: var(--text-padding);
    background-color: var(--header-primary);
    border-style: solid;
    border-width: 0 0 var(--window-line-size) 0;
    border-color: var(--header-line-color);
}

.paragraph-body {
    padding: var(--text-padding);
    font-size: 12px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0 5px 5px 5px;
    font-size: 12px;
    list-style: none;
}

li::before {
    content: "> ";
}

/*Header*/

.header {
    background-color: var(--header-primary);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 var(--header-line-size) 0;
    border-color: var(--header-line-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-family: Inter, serif;
    font-size: 18px;
    float: left;
    margin: 10px;
    font-weight: normal;
    width: fit-content;
}

.header p {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    width: fit-content;
}

/*Content*/

.content {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto auto auto;
    padding-top: 45px;
}

.main {
    flex: 50%;
    float: left;
    margin: var(--window-margins);
    margin-bottom: 0;
}

.info {
    background-color: var(--window-primary);
    margin-bottom: var(--window-margins);
}

/*Sidebar*/

.sidebar {
    margin-right: var(--window-margins);
    margin-top: var(--window-margins);
    width: 200px;
    height: 100%;
    float: right;
}

.side-content {
    background-color: var(--window-primary);
    margin-bottom: var(--window-margins);
}

/*Footer*/

.footer {
    background-color: var(--header-primary);
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    max-height: 32px;
    border-style: solid;
    border-width: var(--header-line-size) 0 0 0;
    border-color: var(--header-line-color);
}

/*Slideout stuff*/

.slideout {
    margin: 7px 0 7px 7px;
    display: flex;
}

#slideout-control {
    display: none;
}

.slideout-label {
    padding: 1px 0 1px 4px;
    max-height: 18px;
    position: relative;
    font-family: monospace;
    float: left;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
    text-align: left;
}

.slideout-cursor {
    position: relative;
    font-size: 14px;
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}

.slideout-switcher {
    margin: 0;
    font-size: 14px;
    font-family: monospace;
    /*display: block;*/
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.slideout-switcher:hover {
    background-color: var(--switcher-hover);
}

.slideout-content.slid {
    bottom: 107%;
    transition: all .5s ease-out;
}

.slideout-content {
    /*display: none;*/
    /*left: 4px;  USE THIS IF TRIANGLE IS CHOSEN*/
    cursor: pointer;
    transition: all .5s ease-in;
    bottom: -100%;
    left: -0.4%;
    z-index: 100;
    position: relative;
    width: fit-content;
    background-color: var(--header-primary);
}

.noCursor::before {
    content: "> ";
}

.noCursor {
    cursor: auto;
}

.noCursor::after {
    content: " <";
}