:root {
    font-family: Inter, serif;
    --header-primary: #2196f3;
    --switcher-hover: #1e83d9;
    --window-primary: #7da9e3;
    --header-line-color: #bae1ff;
    --header-line-size: 3px;
    --window-line-size: 4px;
    --window-margins: 8px;
    --text-padding: 5px;
    overflow: auto;
}

/*Header*/

.header {
    line-height: normal;
    font-family: Inter, serif;
    margin: 0;
    background-color: var(--header-primary);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 var(--header-line-size) 0;
    border-color: var(--header-line-color);
}

.header h1 {
    font-size: 18px;
    float: left;
    margin: 10px;
    font-weight: normal;
}

.header h1.rightSide {
    font-size: 16px;
    float: right;
}

.header p {
    line-height: 100%;
    float: right;
    margin: 10px;
    font-size: 16px;
}

/*Footer*/

.footer {
    background-color: var(--header-primary);
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    max-height: 32px;
}

.slideout {
    margin: 7px 0 7px 7px;
    display: flex;
}

#slideout-control {
    /*position: relative;*/
    display: none;
}

.slideout-label {
    padding: 1px 0 1px 4px;
    max-height: 18px;
    position: relative;
    font-family: monospace;
    float: left;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
    text-align: left;
}

.slideout-cursor {
    position: relative;
    font-size: 14px;
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}

.slideout-switcher {
    margin: 0;
    font-size: 14px;
    font-family: monospace;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.slideout-switcher:hover {
    background-color: var(--switcher-hover);
}

.slideout-content.slid {
    bottom: 107%;
    transition: all .5s ease-out;
}

.slideout-content {
    /*display: none;*/
    /*left: 4px;  USE THIS IF TRIANGLE IS CHOSEN*/
    cursor: pointer;
    transition: all .5s ease-in;
    bottom: -100%;
    left: -0.4%;
    z-index: 100;
    position: relative;
    width: fit-content;
    background-color: var(--header-primary);
}

.noCursor {
    cursor: auto;
}